* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #333 !important;
  color: #222;
}
.container-fluid {
  background-color: #fafafa;
  padding: 50px;
  transform-origin: top left;
  transition: transform 0.5s ease;
}
.container-fluid.show-nav {
  transform: rotate(-20deg);
}
.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}
.circle {
  background-color: #7998ac;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  transition: transform 0.5s linear;
  position: relative;
}
.container-fluid.show-nav .circle {
  transform: rotate(-70deg);
}
.circle button {
  cursor: pointer;
  top: 50%;
  position: absolute;
  left: 50%;
  height: 100px;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 18px;
}
.circle button#open {
  left: 60%;
}
.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}
.circle:focus {
  outline: none;
}
.container-fluid.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}
nav {
  position: fixed;
  bottom: 40%;
  left: 0;
  z-index: 100;
  transform: rotate(18deg);
}
nav ul {
  list-style-type: none;
  color: #333;
  font-size: 20px;
  padding-left: 30px;
}
nav ul li {
  text-transform: uppercase;
  margin: 40px 0;
  transform: translateX(-109%);
  transition: transform 0.4s ease-in;
}
nav ul li span {
  font-size: 26px !important;
  color: #fff;
}
nav ul li + li {
  margin-left: 15px;
  transform: translateX(-118%);
}
nav ul li + li + li {
  margin-left: 30px;
  transform: translateX(-127%);
}
nav a {
  text-decoration: none;
  color: #fff;
  padding: 0 20px;
  font-weight: 500;
}
nav a:hover {
  color: #ff7979;
  font-weight: 700;
}
.content {
  max-width: 1000px;
  margin: 50px auto;
}
.card {
  max-width: 100% !important;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}
.title h1 {
  font-size: 55px;
  font-weight: 700;
  color: #56898e;
}
